@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

.backgrounddash{
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7)), url(../img/baki2.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 92vh;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Orbitron', sans-serif;
    column-gap: 1rem;
    color: rgb(10, 64, 183);
}
#sair a{
            color: white;
            text-decoration: none;
            background-color: red;
            text-align: center;
            width: 4.5rem;
            padding: 1rem;
            border-radius: 1rem;
            border: 3px solid rgb(10, 64, 183);
            display: flex;
            align-items: baseline;
        }

        #sair i{
            color: white;
            font-size: 1.5rem;
        }

        #btn-sair i{
            margin-left: 0.4rem;
        }

        #btn-sair{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h3{
            font-size: 1.5rem;
        }