@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

    .fundoepisodio{
        margin: 6% 0 3% 0;
        border-radius: 1rem;
        color: rgb(244, 244, 244);
        text-align: center;
        background-image: linear-gradient(rgba(74, 74, 74, 0.7), rgba(123, 123, 123, 0.7)), url(/img/chainsawman.jpg);
        width: 800px;
        max-width: 70%;
        height: 500px;
        font-family: "Orbitron";
    }

    .episodioemsi{
        margin: auto;
        padding-top: 1.5rem;
        width: 80%;
        height: 400px;
    }

    .episodioemsi iframe{
        border-radius: 1rem;
        margin: auto;
        width: 100%;
        height: 400px;
    }

    .barrafundo{
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 13rem;
    }

    .barrafundo h2, .barrafundo a{
        text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    }
    
    .numep h2{
        font-family: "Orbitron";
    }

    .btn-antes h2::before{
        content: '\2B9C';
    }

    .btn-prox h2::before{
        content: '\2B9E';
    }

    .btn-prox a, .btn-antes a{
        text-decoration: none;
        color: rgb(244, 244, 244);
    }