#sakamotodays, #windbreaker, #dandadan, #gachiakuta{
    margin-top: 7rem;
}

#sololeveling, #onepiece, #videosololeveling{
    margin-top: 15%;
}

#narutoshippuden, #jujutsukaisen, #videosololeveling, #videosakamoto, #videowindbreaker, #videodandadan, #videogachiakuta, #videobleach, #videojujutsu, #videonarutoshippuden, #videoonepiece{
    margin-top: 10%;
}