@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');


.noticiasfundo{
    flex-wrap: wrap;
}

.noticias{
    display: flex;
    flex-direction: column;
    padding-top: 15%;
}

.noticia{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
    text-align: left;
    column-gap: 2rem;
}

.noticia img {
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
}

.noticia p{
    font-family: "Jomhuria";
    font-size: 3rem;
    color: rgb(87, 87, 87);
}

.noticia p:hover{
    color: rgb(10, 64, 183);
}

.noticia a{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}